DB_USERNAME=postgres
DB_PASSWORD=password
DB_HOST=localhost:5432
DB_NAME=BankRestAPI

APP_DEBUG=True
APP_TITLE=Bank Card Management System API
APP_DESCRIPTION=Bank Card Management System API
APP_VERSION=0.0.1
APP_HOST=127.0.0.1
APP_PORT=8000

SECRET_KEY=secret_key